@{
    ViewData["Title"] = "Give Me My Donut!";
}

<form asp-controller="Home" asp-action="Search" method="post">
    <input name="Id" type="number"/>
    <input type="submit" value="Submit">
</form>
